.App {
  min-height: 100vh;
  background-color: rgb(238, 232, 232);
  margin: 5px;
}

.mybody {
  display: flex;
  gap: 3em;
  padding: 1em;
}

a.navbar-brand {
  margin-inline-start: -5em;
}

.nav-link {
  color: white !important;
  margin-left: 5em;
}

.list-students {
  text-align: center;
  margin-top: 25px;
  flex: 1;
}

ul {
  list-style-type: none;
}

form {
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 3em;
  flex: 1;
}

input,
textarea {
  display: inline-block;
  margin-top: -10px;
  width: 100%;
  font-size: 15px;
  border-radius: 2px;
  border: 3px solid #98d0f1;
}

button.btn.btn-primary {
  margin-top: 25px;
}

.myicon {
  stroke: rgb(243, 121, 7);
  color: rgb(243, 121, 7);
  stroke-width: 10;
  margin-right: 0.9em;
}

.form-label {
  margin-bottom: 0 !important;
  margin-top: 0.5em;
}

.form-check {
  margin-top: 1em;
}

.card-body {
  margin-left: 2em;
  margin-right: 2em;
}

/* GLOBAL */

.link {
  text-decoration: none;
  color: inherit;
}

/* NAVBAR */
.navbar {
  /* margin: auto; */
  min-height: 15vh;
  /* width: 100%; */
}

.nav-container {
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.logo {
  color: black;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background: linear-gradient(to top right, white, #b9e7e7);
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

hr {
  width: 150px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.logo h1 {
  font-size: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.logo p {
  font-size: 12px;
  margin: 0 auto;
}

.logo h1 span {
  font-size: 12px;
}

.links {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.user {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.write {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b9e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: black;
}

.write:hover {
  color: teal;
  background-color: white;
  border: 1px solid teal;
}

.link h5 {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100px;
}

/* LOGIN  */

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth h1 {
  margin: 10px auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  width: 20%;
}

.btn-register,
.btn-login,
.btn-draft,
.btn-update {
  padding: 10px;
  border: none;
  background: lightblue;
  color: black;
  cursor: pointer;
  border-radius: 6px;
}

/* input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
} */

/* HOME */

.posts {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.img {
  flex: 1;
}

.content {
  flex: 4;
}

.post {
  display: flex;
  gap: 50px;
  height: 10vh;
  flex: 2;
  flex-basis: 25vh;
}

.post img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* SINGLE POST PAGE */

.single {
  width: 80%;
  margin: auto;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.user {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.post-img {
  height: 200px;
  width: 100%;
}

.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit svg {
  height: 50px;
  width: 50px;
}

.content body p {
  text-align: justify;
}

/* WRITE A BLOG FORM */

.write-post {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
}

.form-students {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: stretch;
}

.menu {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
  text-align: center;
}

input,
textarea {
  padding: 10px;
  border: 1px solid lightgray;
}

.buttons {
  display: flex;
  gap: 10px;
}

.cat {
  display: flex;
}

label {
  flex: 2;
}

.required {
  color: red;
}

textarea {
  height: 200px;
  overflow-y: scroll;
}
